@model Customer
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/tema/admintema/FlatAdmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/tema/admintema/FlatAdmin/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/tema/admintema/FlatAdmin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/tema/admintema/FlatAdmin/css/style.css" rel="stylesheet">
    <link href="~/tema/admintema/FlatAdmin/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">

    <div class="container">

        <form asp-controller="Account" asp-action="Register" class="form-signin" method="post">
            <h2 class="form-signin-heading">Kayıt Ol</h2>
            <div class="login-wrap">
                <p>Bilgileri doldurun</p>
                <input type="text" class="form-control" asp-for="CustomerName"  placeholder="adınız" >
                <input type="text" class="form-control" asp-for="CustomerSurname"  placeholder="soyadınız" >
                <input type="text" class="form-control" asp-for="Username"  placeholder="kullanıcı adınız" >
                <input type="text" class="form-control" asp-for="Email"  placeholder="e-posta adresi" >
                <input type="password" class="form-control" asp-for="Password"  placeholder="şifreniz" >
                
                
                @* <div class="radios">
                    <label class="label_radio col-lg-6 col-sm-6" for="radio-01">
                        <input name="sample-radio" id="radio-01" value="1" type="radio" checked /> Male
                    </label>
                    <label class="label_radio col-lg-6 col-sm-6" for="radio-02">
                        <input name="sample-radio" id="radio-02" value="1" type="radio" /> Female
                    </label>
                </div> *@

                @* <input type="text" class="form-control" placeholder="User Name" autofocus>
                <input type="password" class="form-control" placeholder="Password">
                <input type="password" class="form-control" placeholder="Re-type Password"> *@
                
                @* <label class="checkbox">
                    <input type="checkbox" value="agree this condition"> I agree to the Terms of Service and Privacy Policy
                </label> *@
                <button class="btn btn-lg btn-login btn-block" type="submit">Gönder</button>

                <div class="registration">
                    Zaten kayıtlı mısın?
                    <a asp-controller="Account" asp-action="Login" class="">
                        Giriş Yap
                    </a>
                </div>

            </div>

        </form>

    </div>


</body>
</html>
